{% extends 'base.html' %}
{% load url from future %}
        
{% block body %}
    <div id="band-sidebar">
        <img src="http://lorempixum.com/180/180" alt="Logo of {{ band.name }}" title="{{ band.name }}"/>
        <ul class="unstyled">
            <li><a href="{% url 'show-band' band.id %}">Info</a></li>
            <li><a href="{% url 'show-setlist' band.id %}">Setlist</a></li>
            <li><a href="{% url 'show-files' band.id %}">Files</a></li>
            <li>
                <a href="{% url 'show-events' band.id %}">Events</a>
                <ul>
                    <li><a href="{% url 'add-unavailability' band.id %}">New unavailability</a></li>
                    <li><a href="{% url 'add-gig' band.id %}">New gig</a></li>
                    <li><a href="{% url 'add-rehearsal' band.id %}">New rehearsal</a></li>
                </ul>
            </li>
            <li><a href="{% url 'show-contacts' band.id %}">Contacts</a></li>
        </ul>
    </div>
    <div id="band-content">
        {% block band-content %}
        {% endblock %}
    </div>
{% endblock %}

