html, body { background: #e2e3e5 url('/public/images/bg.png') repeat; }
body { padding-top: 40px; }

/* general */
#content {
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

#content.external {
    box-shadow
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.external {
    margin: 0 auto;
    padding: 15px;
    width: 600px;
    text-align: justify;
    box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    -webkit-box-shadow: 0 0 5px #eee;
}

#index-options {text-align: center;}

/* band */
#band-sidebar {
    width: 180px;
    float: left;
}

#band-sidebar img {
    width: 180px;
    height: 180px;
    box-shadow: 0 0 5px #eee;
    -moz-box-shadow: 0 0 5px #eee;
    -webkit-box-shadow: 0 0 5px #eee;
}

#band-sidebar ul li {
    padding: 4px 2px;
    border-bottom: 1px solid #ccc;
}

#band-sidebar ul li:last-child {
    border-bottom: none;
}

#band-sidebar ul li a {
    display: block;
    text-decoration: none;
}

#band-content {
    width: 665px;
    min-height: 500px;
    margin-left: 16px;
    padding-left: 20px;
    float: left;
    border-left: 1px solid #eee;
    box-shadow: -1px 0 0 0 #ccc;
    -moz-box-shadow: -1px 0 0 0 #ccc;
    -webkit-box-shadow: -1px 0 0 0 #ccc;
}

#invite {display: none;}

#gigs, #unavailability, #rehearsal {display: none;}

.fc-header, .fc-header td, .fc-border-separate {border: none;}

footer {
    width: 400px;
    margin: 0px auto;
    text-align: center;
}
footer ul li {display: inline}
footer a {
    color: #999;
    text-decoration: none;
    padding-right: 8px;
}

/* misc */
#bubble {
    width: 230px;
    padding: 5px;
    z-index: 1001;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 #000;
}

#bubble h1 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

#bubble h2 {
    font-size: 12px;
    line-height: 18px;
}

#bubble ul {
    margin: 5px 0;
}

.droppable-zone-highlight {
    border: 1px solid;
    border-radius: 4px;
    border-color: green;
}

.redtext {
    color: red;
}

#gig_setlist_instructions, #rehearsal_setlist_instructions {
    border: 1px solid lightblue;
    border-radius: 6px;
    padding:9px;
    margin:4px;
}

td.tiny {
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

td.tiny form:first-child {
    float: left;
    margin-bottom: 0px;
}

td.tiny form:last-child {
    margin-bottom: 0px;
}

td.tiny form button {
    margin-left: 6px;
    padding: 2px 5px 3px 5px;
}

.songcount {
    display:inline;
    padding: 0px;
    float: none;
}
