{% extends 'band-base.html' %}
{% load url from future %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fullcalendar.css" />
{% endblock %}

{% block band-content %}
    <h2>{{ band.name }}</h2>
    <h3>Calendar</h3>
    <form action="/band/{{ band.id }}/calendar/entry/add" method="post"> {% csrf_token %}
      {% include "form_template.html" with form_title="Add entry" %}
      <div class="actions">
          <button class="btn primary" type="submit">Save</button>
          <button class="btn" type="reset">Cancel</button>
      </div>
    </form>

    <hr size="20"/>

    <div id="calendar"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.11.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/fullcalendar.min.js"></script>
    <script>
        $(function() {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            var i;
            
            function CalendarEntry(title, date, start, end) {
                this.title = title;
                this.date = date;
                this.start = start;
                this.end = end;
                this.allDay = false;
            }
            
            $.getJSON('/band/{{ band.id }}/calendar/entries', function(data) {
                var events = [], dateSplitted, date, start, end;
                for (i = 0; i < data.length; i+=1) {
                    dateSplitted = data[i].fields.date.split("-");
                    date = new Date(dateSplitted[0], dateSplitted[1], dateSplitted[2]);
                    startSplitted = data[i].fields.start.split(":");
                    start = new Date(dateSplitted[0], dateSplitted[1], dateSplitted[2], startSplitted[0], startSplitted[1]);
                    endSplitted = data[i].fields.end.split(":");
                    end = new Date(dateSplitted[0], dateSplitted[1], dateSplitted[2], endSplitted[0], endSplitted[1]);
                    events.push(new CalendarEntry("Evento", date, start, end));
                }
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true,
                    dayClick: function(date, allDay, jsEvent, view) {
                        console.log(view);
                    },
                    eventClick: function(calEvent, jsEvent, view) {
                        console.log(view);
                    },
                    events: events
                });
            });
        });
    </script>
{% endblock %}

