{% extends 'base.html' %}
{% load url from future %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
{% endblock %}

{% block body %}
    <div id="band-sidebar">
        <img src="http://lorempixum.com/180/180" alt="Logo of {{ band.name }}" title="{{ band.name }}"/>
        <ul class="unstyled">
            <li><a href="{% url 'show-band' band.id %}">Info</a></li>
            <li><a href="{% url 'show-setlist' band.id %}">Setlist</a></li>
            <li><a href="{% url 'show-files' band.id %}">Files</a></li>
            <li>
                <a href="{% url 'show-events' band.id %}">Events</a>
                <ul>
                    <li><a href="{% url 'add-unavailability' band.id %}">New unavailability</a></li>
                    <li><a href="{% url 'add-gig' band.id %}">New gig</a></li>
                    <li><a href="{% url 'add-rehearsal' band.id %}">New rehearsal</a></li>
                </ul>
            </li>
            <li><a href="{% url 'show-contacts' band.id %}">Contacs</a></li>
        </ul>
    </div>
    <div id="band-content">
        <h2>{{ band.name }}</h2>
        <h3>Events</h3>
        {{ success }}
        {% if success %}
            <div class="alert-message success">
                <a class="close" href="#">×</a>
                <p>{{ success }}</p>
            </div>
        {% endif %}
        
        <div id="event-containers">
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <div id="bubble">
        <a href="#">Edit</a>
        <form method="post"> {% csrf_token %}
            <input type="submit" value="Remove it?" />
        </form>
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/fullcalendar.min.js"></script>
    <script>
        $(function() {
            function CalendarEntry(pk, title, timeStart, timeEnd, type) {
                this.id = type+pk;
                this.pk = pk;
                this.title = title;
                this.start = timeStart;
                this.end = timeEnd;
            }
            
            Unavailability.prototype = new CalendarEntry;
            Unavailability.prototype.constructor = Unavailability;
            Gig.prototype = new CalendarEntry;
            Gig.prototype.constructor = Gig;
            Rehearsal.prototype = new CalendarEntry;
            Rehearsal.prototype.constructor = Rehearsal;
  
            function Unavailability(pk, title, timeStart, timeEnd, allDay) {
                this.allDay = allDay;
                this.type = "unavailability";
                this.color = "#000";
                CalendarEntry.call(this, pk, title, timeStart, timeEnd, this.type);
            }
            
            function Gig(pk, title, timeStart, timeEnd, place, costs, ticket) {
                this.place = place
                this.costs = costs;
                this.ticket = ticket;
                this.type = "gig";
                this.color = "#444";
                // TODO complete with other attrs
                CalendarEntry.call(this, pk, title, timeStart, timeEnd);
            }
            
            function Rehearsal(pk, title, timeStart, timeEnd) {
                this.place = place
                this.costs = costs;
                this.type = "rehearsal";
                this.color = "#ccc";
                // TODO complete with other attrs
                CalendarEntry.call(this, pk, title, timeStart, timeEnd);
            }
            
            function CalendarManager() {
                this.entries = []
                this.createEntry = function(data) {
                    switch (data.model) {
                        case 'project.unavailability':
                            return createUnavailability(data);
                        case 'project.gig':
                            return createGig(data);
                        case 'project.rehearsal':
                            return createRehearsal(data);
                        default:
                            break;
                    }
                }
                
                // private methods
                function createUnavailability(data) {
                    var dateStartSplitted, dateEndSplitted, timeStart, timeEnd, allDay;
                    allDay = ((data.fields.all_day || false) === true);
                    dateStartSplitted = data.fields.date_start.split("-");
                    startSplitted = data.fields.time_start.split(":");
                    timeStart = new Date(dateStartSplitted[0], dateStartSplitted[1]-1, dateStartSplitted[2], startSplitted[0], startSplitted[1]);
                    dateEndSplitted = data.fields.date_end.split("-");
                    endSplitted = data.fields.time_end.split(":");
                    timeEnd = new Date(dateEndSplitted[0], dateEndSplitted[1]-1, dateEndSplitted[2], endSplitted[0], endSplitted[1]);
                    return new Unavailability(data.pk, 'Unavailability of ' + data.fields.added_by, timeStart, timeEnd, allDay);
                }
                
                function createGig(data) {
                    var dateSplitted, timeStart, timeEnd;
                    dateSplitted = data.fields.date_start.split("-");
                    startSplitted = data.fields.time_start.split(":");
                    timeStart = new Date(dateSplitted[0], dateSplitted[1]-1, dateSplitted[2], startSplitted[0], startSplitted[1]);
                    endSplitted = data.fields.time_end.split(":");
                    timeEnd = new Date(dateSplitted[0], dateSplitted[1]-1, dateSplitted[2], endSplitted[0], endSplitted[1]);
                    return new Gig(data.pk, 'Gig at ' + data.fields.place, timeStart, timeEnd, data.fields.place, data.fields.costs, data.fields.ticket);
                }
                
                function createRehearsal(data) {
                    var dateSplitted, timeStart, timeEnd;
                    dateSplitted = data.fields.date_start.split("-");
                    startSplitted = data.fields.time_start.split(":");
                    timeStart = new Date(dateSplitted[0], dateSplitted[1]-1, dateSplitted[2], startSplitted[0], startSplitted[1]);
                    endSplitted = data.fields.time_end.split(":");
                    timeEnd = new Date(dateSplitted[0], dateSplitted[1]-1, dateSplitted[2], endSplitted[0], endSplitted[1]);

                    return new Rehearsal(data.pk, 'Rehearsal at ' + data.fields.place, timeStart, timeEnd, data.fields.place, data.fields.costs);
                }
            }
            
            CalendarManager.prototype = {
                parseEntries: function(data) {
                    var i, dateSplitted, date, start, end;
                    for (i = 0; i < data.length; i+=1) {
                        this.entries.push(this.createEntry(data[i]));
                    }
                },
            
                getEntries: function() {
                    return this.entries;
                }
            } // end of CalendarManager.prototype
            
            var calendarManager = new CalendarManager();
            
            $(".alert-message.close").click(function(e) {
                $this.closest('.alert-message').remove();
                e.preventDefault();
            });
            
            $.getJSON('/band/{{ band.id }}/events/entries', function(data) {
                calendarManager.parseEntries(data);
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    dayClick: function(date, allDay, jsEvent, view) {
                        console.log(date);
                    },
                    eventClick: function(event, jsEvent, view) {
                        var removeURI = '/band/{{ band.id }}/events/#type/#id/remove',
                        editURI = '/band/{{ band.id }}/events/#type/#id/edit'
                        $bubble = $("#bubble");
                        $bubble.css('top', (jsEvent.pageY-5) + 'px');
                        $bubble.css('left', (jsEvent.pageX+10) + 'px');
                        $bubble.find("> a").attr('href', editURI.replace('#type', event.type).replace('#id', event.pk));
                        $bubble.find('form').attr('action', removeURI.replace('#type', event.type).replace('#id', event.pk));
                        $bubble.data('event', event.id);
                        $bubble.show();
                    },
                    events: calendarManager.getEntries()
                });
            });
        
            $("#bubble form").submit(function(e) {
                var $this = $(this),
                $csrfInput = $this.find('input[type=hidden]').first(),
                $bubble = $this.closest("#bubble");
                $.post($this.attr('action'), { 'csrfmiddlewaretoken': $csrfInput.val() }).success(function(data) {
                    $bubble.hide();
                    $('#calendar').fullCalendar('removeEvents', $bubble.data('event'));
                }).error(function(data) {
                    console.log("TODO send notice");
                });
                e.preventDefault();
            });
        });
    </script>
{% endblock %}

