{% extends 'band-base.html' %}
{% load url from future %}
        
{% block band-content %}
    {% if not error_msg %}
        <h2>{{ band.name }}</h2>
        <h3>Files</h3>
        {% load filetransfers %}
        <form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_upload_data upload_data %}
            {{ upload_form.as_p }}
            <button class="btn inline primary" type="submit"/>Upload</button>
        </form>

        <table id="files" class="zebra-striped sortable">
            {% include "files_table_content.html" with files=band.file_list %}
        </table>
    {% else %}
        <div class="alert-message error">
            {{ error_msg }}
        </div>
    {% endif %}
    
    {% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/tablesorter.min.js"></script>
    <script>
        $(function() {
            $("table.sortable").tablesorter();
        });


    </script>
    {% endblock %}
{% endblock %}

