{% extends 'band-base.html' %}
{% load url from future %}
        
{% block band-content %}
    {% if not error_msg %}
    <h2>{{ band.name }}</h2>

    <section id="setlist">
        <h3>Setlist:</h3>
        <ul id="setlist">
        {% for song in band.setlist.song_list %}
            <li>
                <form action="/band/{{ band.id }}/setlist/{{ song.id }}/remove" method="post">
                    {% csrf_token %}
                    {{ song.artist }} - {{ song.title }}
                    <button class="btn inline small" type="submit">Delete</button>
                </form>
            </li>
        {% empty %}
            No songs yet.
        {% endfor %}
        </ul>
    </section>

    <section id="newsong">
        <h4>Add a new song:</h4>
        <form action="/band/{{ band.id }}/setlist/add" method="post">
            {% csrf_token %}
            Artist: <input id="artist" name="artist" type="text" placeholder="song artist" />
            Title:  <input id="title" name="title" type="text" placeholder="song title" />
            <button class="btn inline primary" type="submit">Add</button>
        </form>
    </section>

    <section id="batch">
        <h4>Batch add songs:</h4>
        <form action="/band/{{ band.id }}/setlist/add_batch" method="post">
            {% csrf_token %}
            Quick way to add a batch of songs to the setlist!<br/><br/>
            <textarea class="span9" rows="5" id="batch" name="batch" placeholder="e.g.: Artist - Song" ></textarea>
            <br/>
            <button class="btn primary span8" type="submit" style="margin-top:5px;">Add Batch</button>
        </form>
    </section>

    {% else %}
    <div class="alert-message error">
        {{ error_msg }}
    </div>
    {% endif %}
{% endblock %}

