{% extends 'band-base.html' %}
{% load url from future %}
        
{% block band-content %}
    {% if not error_msg %}
    <h2>{{ band.name }}</h2>

    <section id="setlist">
        <h3>Setlist:</h3>
        <table class="zebra-striped">
            <thead>
              <tr>
                <th class="header">Artist - Song</th>
                <th class="header">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for song in band.setlist.song_list %}
            <tr>
                <td name="artist-song" type="text" style="vertical-align: middle; padding: 0px 0px 0px 0px;"> 
                    {{ song.artist }} - {{ song.title }}
                </td>
                <td name="action" type="text" style="padding: 0px 0px 0px 0px;">
                    <form action="/band/{{ band.id }}/setlist/{{ song.id }}/details" method="post" style="float: left; margin-bottom: 0px;">
                        {% csrf_token %}
                        <button class="btn inline span" type="submit" style="padding: 2px 5px 3px;">Details</button>
                    </form>
                    <form action="/band/{{ band.id }}/setlist/{{ song.id }}/remove" method="post" style="margin-bottom: 0px;">
                        {% csrf_token %}
                        <button class="btn inline span" type="submit" style="margin-left: 18px; padding: 2px 5px 3px 5px;">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td type='text' > No songs yet. </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>     
    </section>

    <section id="newsong">
        <h4>Add a new song:</h4>
        <form action="/band/{{ band.id }}/setlist/add" method="post">
            {% csrf_token %}
            Artist: <input id="artist" name="artist" type="text" placeholder="song artist" />
            Title:  <input id="title" name="title" type="text" placeholder="song title" />
            <button class="btn inline primary" type="submit">Add</button>
        </form>
    </section>

    <section id="batch">
        <h4>Batch add songs:</h4>
        <form action="/band/{{ band.id }}/setlist/add_batch" method="post">
            {% csrf_token %}
            Quick way to add a batch of songs to the setlist!<br/><br/>
            <textarea class="span9" rows="5" id="batch" name="batch" placeholder="e.g.: Artist - Song" ></textarea>
            <br/>
            <button class="btn primary span8" type="submit" style="margin-top:5px;">Add Batch</button>
        </form>
    </section>

    {% else %}
    <div class="alert-message error">
        {{ error_msg }}
    </div>
    {% endif %}
{% endblock %}

