{% extends 'band-base.html' %}
{% load url from future %}
        
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
{% endblock %}

{% block band-content %}
    {% if not error_msg %}
    <h2>{{ band.name }}</h2>
    <h3>Song</h3>
    <dl>
        <dt>Artist:</dt>
        <dd>{{ song.artist }}</dd>
        <dt>Title:</dt>
        <dd>{{ song.title }}</dd>
    </dl>
    
    <hr size="20"/>
    <h4>Linked files:</h4>
<!--    <div id="ajax_result"></div>-->

<!--    <div id="gig_setlist_instructions">-->
<!--        <span class="label notice">INSTRUCTIONS</span>-->
<!--        <ul>-->
<!--            <li>Drag and drop the songs from the band setlist to the gig setlist.</li>-->
<!--            <li>You can also order the songs as you please.</li>-->
<!--            <li>The changes are saved automatically.</li>-->
<!--        </ul>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div id="band_setlist" class="span6">-->
<!--                <h6>Band setlist:</h6>-->

<!--                <ul id="ul_band_setlist">-->
<!--                    {% for song in diff_setlist %}-->
<!--                        <li>-->
<!--                            {{ song.artist }} - {{ song.title }}-->
<!--                            <input type="hidden" name="song_id" value="{{ song.id }}"/>-->
<!--                        </li>-->
<!--                    {% empty %}-->
<!--                        <span class="redtext" id="empty_band_placeholder">No songs left.</span>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div id="gig_setlist" class="span10">-->
<!--                <h6>Gig setlist:</h6>-->

<!--                <ul id="ul_gig_setlist">-->
<!--                    {% for song in gig.setlist.song_list %}-->
<!--                        <li>-->
<!--                            {{ song.artist }} - {{ song.title }}-->
<!--                            <input type="hidden" name="song_id" value="{{ song.id }}"/>-->
<!--                        </li>-->
<!--                    {% empty %}-->
<!--                        <span class="redtext" id="empty_gig_placeholder">No songs yet.</span>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--    <hr size="20"/>-->
<!--    <h4>Gig contract:</h4>-->
<!--        -->
<!--    {% else %}-->
<!--    <div class="alert-message error">-->
<!--        {{ error_msg }}-->
<!--    </div>-->
<!--    {% endif %}-->
    
        {% load filetransfers %}
        <form action="{{ song_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_upload_data song_data %}
            {{ song_form.as_p }}
            <button class="btn inline primary" type="submit"/>Upload</button>
        </form>    
        <table id="songs" class="zebra-striped sortable">
            {% include "files_table_content.html" with files=song.files %}
        </table>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">

        $(function(){
            $("table.sortable").tablesorter();

            $('.alert-message warning').hide();

            $('#ul_band_setlist').sortable({
                items: 'li',
                connectWith: '#ul_gig_setlist',
                placeholder: 'droppable-zone-highlight',
                forcePlaceholderSize: true,
                remove: function(event, ui){
                    if ($("#ul_band_setlist > li").length == 0) {
                        $("#ul_band_setlist").append("\<span class=\"redtext\" id=\"empty_band_placeholder\"\>No songs left.\</span\>");
                    }
                },
                receive: function(event, ui){
                    if ($('#empty_band_placeholder').length != 0) {
                        $('#empty_band_placeholder').remove();
                    }
                }
            });

            $('#ul_gig_setlist').sortable({
                items: 'li',
                connectWith: '#ul_band_setlist',
                placeholder: 'droppable-zone-highlight',
                remove: function(event, ui){
                    if ($("#ul_gig_setlist > li").length == 0) {
                        $("#ul_gig_setlist").append("\<span class=\"redtext\" id=\"empty_gig_placeholder\"\>No songs yet.\</span\>");
                    }
                    save('remove', ui.item.children('input')[0].value, 0); // position is irrelevant
                },
                receive: function(event, ui){
                    if ($('#empty_gig_placeholder').length != 0) {
                        $('#empty_gig_placeholder').remove();
                    }

                    var position = $('#ul_gig_setlist > li').index(ui.item[0]);
                    save('add', ui.item.children('input')[0].value, position);
                },
                update: function(event, ui){
                    if(ui.sender == null && ui.item[0].parentNode.id == 'ul_gig_setlist'){ // guarantees the change was inside the list
                        var position = $('#ul_gig_setlist > li').index(ui.item[0]);
                        save('sort', ui.item.children('input')[0].value, position)
                    }
                }
            });
        });

        function save(operation, songId, position){
            var url = '';
            if (operation == 'add'){
                url = '/band/{{ band.id }}/events/gig/{{ gig.id }}/setlist/add/' + songId;
            } else if (operation == 'remove'){
                url = '/band/{{ band.id }}/events/gig/{{ gig.id }}/setlist/remove/' + songId;
            } else if (operation == 'sort'){
                url = '/band/{{ band.id }}/events/gig/{{ gig.id }}/setlist/sort/' + songId;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: { 'position' : position},
                dataType: 'json',
                beforeSend: function(){
                    $('#ajax_result').removeClass('alert-message error');
                    $('#ajax_result').removeClass('alert-message success');
                    $('#ajax_result').addClass('alert-message warning');
                    $('#ajax_result').text('Saving...');
                },
                success: function(data){
                    if (data.success == 'ok'){
                        $('#ajax_result').removeClass('alert-message warning');
                        $('#ajax_result').addClass('alert-message success');
                        $('#ajax_result').text('Saved!');
                    } else {
                        $('#ajax_result').removeClass('alert-message warning');
                        $('#ajax_result').addClass('alert-message error');
                        $('#ajax_result').text('Error updating setlist.');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    $('#ajax_result').removeClass('alert-message warning');
                    $('#ajax_result').addClass('alert-message error');
                    $('#ajax_result').text('Error updating setlist.');
                }
            });
        }

        // Obligatory stuff for AJAX to work in DJANGO (csrf-related)
        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        </script>

{% endblock %}
