{% extends 'base-external.html' %}
{% load url from future %}

{% block body %}
    <h1>Band on the Run</h1>
    <p>O Band on the Run é um produto que ajuda na gerência interna de bandas musicais.</p>
    <p>Com ele, você poderá gerenciar o repertório, shows e ensaios, contatos úteis externos, calendário de disponibilidade dos integrantes, além de arquivos de mídia da banda.</p>
    <div id="index-options">
        <a class="btn large primary" href="/user/login">Login</a>
        or
        <a class="btn large primary" href="/user/create">Create account</a>
    </div>
{% endblock %}

