{% extends 'base.html' %}
{% load url from future %}
        
{% block body %}
      This is a dashboard!<br/>
        {% if user.bands %}
            <p> Check what's happening now with these bands you play on! </p>
            <ul>
                {% for band in user.bands %}
                    <li><a href="{% url 'show-band' band.shortcut_name %}">{{ band.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You do not belong to a band. What do you think about <a href="{% url 'create-band' %}">creating</a> a new one?</p>
        {% endif %}
{% endblock %}
