{% extends 'base.html' %}
{% load url from future %}

{% block body %}
    <div class="row">
        <div class="span9 columns">
            <form action="/user/password-reset-confirm" method="post"> {% csrf_token %}
                {{ validlink }}
                {% include "form_template.html" with form_title="Password Reset" %}
                <div class="actions">
                    <button class="btn primary" type="submit"/>Create password</button><br/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}