{% extends 'band-base.html' %}
{% load url from future %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.ui.timepicker.css" />
{% endblock %}

{% block band-content %}
    <h2>{{ band.name }}</h2>
    <h3>Unavailabilities</h3>

    {% if not error_msg %}
        {% if success %}
            <div class="alert-message success">
                <a class="close" href="unavailability.html#">×</a>
                <p>{{ success }}</p>
            </div>
        {% endif %}

        <form action="/band/{{ band.id }}/events/unavailability/add" method="post"> {% csrf_token %}
          {% include "form_template.html" with form_title="Add unavailability" %}
          <div class="actions">
              <button class="btn primary" type="submit">Save</button>
              <button class="btn" type="reset">Cancel</button>
          </div>
        </form>
    {% else %}
        <div class="alert-message error">
            {{ error_msg }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.ui.timepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            // Init the time pickers
            $("#id_time_start").timepicker({
                defaultTime: '',
            });

            $("#id_time_end").timepicker({
                defaultTime: '',
            });

            // Init the date pickers
            var dates = $("#id_date_start, #id_date_end").datepicker({
                defaultDate: "+1w",
                onSelect: function( selectedDate ) {
                    var option = this.id == "id_date_start" ? "minDate" : "maxDate",
                        instance = $( this ).data( "datepicker" ),
                        date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings );
                    dates.not( this ).datepicker( "option", option, date );
                }
            }),
            time_start = $("#id_time_start"),
            time_end = $("#id_time_end");

            // All day button hides the time fields
            $("#id_all_day").change(function(e) {
                if (this.checked) {
                    time_start.closest(".clearfix").hide();
                    time_end.closest(".clearfix").hide();
                    time_start.val("00:00");
                    time_end.val("23:59");
                } else {
                    time_start.closest(".clearfix").show();
                    time_end.closest(".clearfix").show();
                    time_start.val("");
                    time_end.val("");
                }
            });
            
            $(".alert-message.close").click(function(e) {
                $this.closest('.alert-message').remove();
                e.preventDefault();
            });
        }); // end initialization
    </script>
{% endblock %}
